.container-form {
    padding-top: 50px;
    
}
.button {
    width: 15ch;
    border: 15px;
    left: 20px;
    outline: none;
}

.button:active {
    outline: none;
}

.text-field {
    width: 400px;
}